$yellow:#FFCC31;
$red:#c71414;
$green:#0a6e47;

@mixin margenes($top,$bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron{
    background-color: $yellow;
    height: 60px;
    color: black;
    border-radius: 0;
}

h3,h5,h6,p{
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-weight: bold;
    color: $red;
}

.card p{
    font-size: 14px;
}

footer{
    background-color: $yellow;
    @include margenes(30px,0);
    padding:10px 10px 0 10px;
}

.cardbook{
    flex: 1 150px;
    background-color: $green;
}

.row{
    margin: 0px;
}

.icons{
    padding-right: 5px;
}
