.jumbotron {
  background-color: #FFCC31;
  height: 60px;
  color: black;
  border-radius: 0;
}
h3,
h5,
h6,
p {
  font-family: 'Montserrat', sans-serif;
}
h3 {
  font-weight: bold;
}
.card p {
  font-size: 14px;
}
footer {
  background-color: #FFCC31;
  margin-top: 30px;
  margin-bottom: 0;
  padding: 10px 10px 0 10px;
}
.cardbook {
  flex: 1 150px;
}
.row {
  margin: 0px;
}
.icons {
  padding-right: 5px;
}
